* {
  background-color: #30475E;
}

h1 {
  margin: 50px;
  color: #F05454;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #E8E8E8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
}

button {
  width: 200px;
  height: 50px;
  position: relative;
  padding: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  background-color: #E8E8E8;
  border-color: #222831;
  border-style: solid;
  border-radius: 50px;
  margin: 0 30px;
}

div.root {
  width: 100%;
}

.center {
  margin: 15px auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.main-progress-bar {
  margin: 20px 50px;
}

.progress-bar-container {
  background-color: #E8E8E8;
  height: 20px;
  width: 100%;
  border-radius: 50px;
}

.progress-bar-filler {
  border-radius: inherit;
  text-align: right;
  height: 100%;
}

.progress-bar-label {
  background-color: transparent;
  font-weight: bold;
  color: #222831;
}

.inline-block {
  display: inline-block;
}